.card {
  display: flex;
  flex-direction: column;
  flex: 3;

  border-radius: 8px;
  border-width: 1px;
  border-color: var(--border-color);
  padding: 24px;

  gap: 24px;

  /* flex: 1 1 auto; */

  background-color: white;

  /* flex-basis: auto; */

  /* min-width: 255px; */
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aboutItems {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
  /* grid-gap: 1.0rem; */
  /* grid-template-columns: repeat(2, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
    overflow: hidden;  */
}

.pressLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pressLink {
  display: flex;
  flex-direction: row;
  gap: 4px;

  text-decoration: underline;
}
