.footerPoweredBy {
  /* position: fixed;
    top: inherit;
    bottom: 0; */
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 64px;
  background-color: #f4387c1a;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  gap: 6px;
  align-items: center;
}


.footerLinks{
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .footerLinks{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }
  
}
