.input {
  display: block;
  flex: 1;

  border-width: 1px;
  border-color: var(--border-color);
  color: #1f2534cc;
  width: 100%;
}

.inputRound {
  border-radius: 32px;
}

.inputSquare {
  border-radius: 8px;
  height: 48px;
  padding-left: 12px;
  padding-right: 12px;
}

.input:hover {
  border-width: 1px;
  border-color: var(--main-color);
}

.input:focus {
  border-width: 1px;
  border-color: var(--main-color);
  outline: none !important;
  box-shadow: 0;
}

.inputInvalid {
  border-width: 2px;
  border-color: #fe0000;
}

.primaryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  background-color: var(--main-color);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  font-family: "Avenir Next DemiBold";
}

.primaryButtonDisabled {
  opacity: 0.25;
}


@media only screen and (max-width: 1000px) {

  .input {
    display: block;
    flex: 1;
  
    border-width: 1px;
    border-color: var(--border-color);
    color: #1f2534cc;
    /* width: 100%; */
  }
}
