@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 100, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --ethdenver-pink-hex: #f9548e;
  --ethdenver-purple-hex: #481f84;

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135; */

  --main-color: #ee4c83;
  --main-color-15pct-transparency: #ee4c8326;
  --main-color-10pct-transparency: #ee4c831a;
  --main-color-20pct-transparency: #ee4c8333;

  --main-color-inverse: #28133e;

  --border-color: #e2e2e2;

  --text-color-dark: #1f2534;
  --text-color-light: #1f2534cc;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/fonts/AvenirNext-Regular.ttf");
}

@font-face {
  font-family: "Avenir Next DemiBold";
  src: url("/fonts/AvenirNext-DemiBold.ttf");
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffbfd;
  height: 100%;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  flex: auto;
  width: 100%;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

.h1 {
  font-family: "Avenir Next DemiBold";
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: var(--text-color-dark);
}

.body18 {
  font-family: "Avenir Next";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: var(--text-color-light);
}

.body18Bold {
  font-family: "Avenir Next DemiBold";
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: var(--text-color-dark);
}

.body16 {
  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: var(--text-color-dark);
}

.body16Bold {
  font-family: "Avenir Next DemiBold";
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  /* line-height: 100%; */
  letter-spacing: -0.015em;
  color: var(--text-color-dark);
}

.body14 {
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: var(--text-color-light);
}

.body14Bold {
  font-family: "Avenir Next DemiBold";
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: var(--text-color-dark);
}

.chapeau {
  font-family: "Avenir Next DemiBold";
  font-weight: 600;
  font-size: 12px;
  color: var(--text-color-light);
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.chapeauDark {
  font-family: "Avenir Next DemiBold";
  font-weight: 600;
  font-size: 12px;
  color: var(--text-color-dark);
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.center {
  align-self: center;
}

.centerText {
  text-align: center;
}

.marginTop4 {
  margin-top: 4px;
}
.marginTop16 {
  margin-top: 4px;
}
.marginTop24 {
  margin-top: 24px;
}
.marginTop32 {
  margin-top: 32px;
}

.marginLeft8 {
  margin-left: 4px;
}

.marginBottom8 {
  margin-bottom: 8px;
}

.admin {
  color: red;
}

.link {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
