.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFBFD;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.coverImageContainer {
  width: 1200px;
  /* max-width: '1200px'; */
  height: 194px;
  /* max-height: '194px'; */
  position:relative;
  overflow: hidden;
  border: none;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  /* width: 1200px; */
  width: 100%;
  margin-top: -38px;
  padding-left: 24px;
}

.logoImageContainer {
  width: 154px;
  height: 154px;
  position:relative;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  border-color: #E2E2E2;
  border-width: 1px;
}

.headerTextContainer {
  align-self: flex-end;
  margin-left: 24px;
  padding-bottom: 8px;
}

.h1 {
  font-size: 28px;
}

.subTitle {
  font-size: 18px;
  color: #1F2534CC;
}

.headerIconsContainer {
  display: flex;
  margin-top: 12px;
  flex-direction: row;
  gap: 16px;
}

.filtersContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.toggleButton {
  /* display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: none;
  background-color: white; */
  /* border: 1px solid #E2E2E2;
  box-sizing: border-box; */
  /* border-color: #E2E2E2; */
  /* outline: solid 1px #E2E2E2; */

  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid #E2E2E2;
}

.toggleOn {
  /* background-color: #EE4C83;
  padding: 12px;
  border-radius: 8px;
  border: none;
  float: left;
  outline: solid 1px #EE4C83; */

  background-color: #EE4C83;
  padding: 12px;
  position: absolute;
   border: 1px solid red;
   top: -1px;
   left: -1px;
   bottom: -1px;
}

.toggleOff {
  /* border-color: #E2E2E2; */
  /* border-width: 1px; */
  /* border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px; */
  padding: 12px;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; */
  /* background-color: #EE4C83; */
}

/** Before **/

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.pagetitle {
  font-size: 56px;
  text-shadow:
  0 0 2px #fff,
  0 0 8px #f99ebe,
  0 0 15px #f9548e;
}

.center {
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-gap: 1.0rem;
  /*grid-template-columns: repeat(2, minmax(25%, auto));*/
  width: var(--max-width);
  max-width: 100%;
}

.gridnew {
  display: grid;
  grid-gap: 1.0rem;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  max-width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0;
  background-image: url("https://uploads-ssl.webflow.com/636c2fd57def6f9c4bf33a90/636c2fd57def6f1d66f33d1c_sporke_logo.png");
  background-size: auto 100%;
  background-repeat:no-repeat;
  background-position: 20%;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

/* .logo{
  height: 60px;
} */




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(50, 50, 50, 1.0);
    /* border: 1px solid rgba(var(--card-border-rgb), 0.15); */
  }

  .card:hover span {
    transform: translateX(10px);
  }
}


