
.card {
    color: rgb(50,50,50);
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 1.0);
    border: 2px solid rgb(100,100,100);
    font-size: 1rem;
    box-shadow:  10px 10px 5px rgb(89, 89, 89);
  }
  .card h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .card h3 {
    font-size: 1.3rem;
    margin-top: 5px;
  }