.card {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: white;
  border-color: var(--border-color);
  border-width: 1px;
  border-radius: 8px;
}

.card:hover {
  background-image: linear-gradient(
    to right,
    #ffffff00,
    var(--main-color-15pct-transparency)
  );
}

.logo {
  border-radius: 8px;
}

.roleInfo {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.roleInfoText {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  gap: 4px;
}

.roleInfoCompanyAndRoleTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.applyContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.applyButton {
  /* align-self: flex-end; */
  border-color: var(--main-color);
  border-width: 1px;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}
.card:hover .applyButton {
  /* align-self: flex-end; */
  background-color: var(--main-color);
  color: white;
}
