.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 24px;
}

.roleFilterContainer {
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
  color: #1f2534;
  font-size: 16px;
  font-weight: 400;
  gap: 16px;
  align-items: center;
}

.locationInputsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.includeRemoteContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: #1f2534;
  font-size: 16px;
  font-weight: 400;
}
