.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 24px;
}

.roleFilterContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.locationInputsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.includeRemoteContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
