.logo{
    height: 150px;
  }
  .pagetitle {
    font-size: 56px;
    /* vertical-align: middle; */
    text-shadow:
      0 0 2px #fff,
      0 0 8px #f99ebe,
      0 0 15px #f9548e;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }

  .center {
    /* display: flex; */
    /* display: grid; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 60%;
    /* border: 3px solid #73AD21;
    padding: 10px; */
  }

  .headercard {
    /* display: flex; */
    /* display: grid; */
    padding: 2rem 1rem;
    margin: 0px 100px;
    /* margin-top: 2rem;
    margin-bottom: 6rem; */
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
    background-color: var(--ethdenver-purple-hex);
    /* border: 3px solid #73AD21;
    padding: 10px; */
  }

  .headercard p {
    color: white;
  }


  .flexbox_container {
    display: flex
  }
  .flex_child {
    /* flex: 1; */
    /* display: flex; */
    padding: 0px 0px;
    border: 2px solid yellow;
    text-align: center;
    align-items: center
}  
  
  /* .center::before,
  .center::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
  } */
  
  /* The Modal (background) */
.modal {
  display: block; /* Hidden by default with none */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}