.roleConditionsContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.inverted {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .roleConditionsContainer {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 12px;
  }
}
