/* .searchBox {
    border-radius: 32px;
    border-width: 1px;
    border-color: #E2E2E2;
} */

.select__control {
    background-color: aqua;
    border-radius: 32px;
    border-width: 1px;
    border-color: #E2E2E2;
}

.select__container {
    background-color: green;
    color: green;
    border-radius: 32px;
    border-width: 1px;
    border-color: #E2E2E2;
}

.select__valueContainer {
    background-color: purple;
    border-radius: 32px;
    border-width: 1px;
    border-color: #E2E2E2;
}

.select__input {
    background-color: pink;
    /* border-radius: 32px;
    border-width: 1px;
    border-color: #E2E2E2; */
}