@use 'Variables'

.toggleButton
  display: flex
  flex-direction: row
  height: 48px
  border: 1px solid Variables.$border-color
  border-radius: 8px
  cursor: pointer

.toggleOn
  display: flex
  align-items: center
  background-color: Variables.$main-color
  padding-left: 12px
  padding-right: 12px
  border: 1px solid Variables.$main-color
  border-radius: 8px
  margin-top: -1px
  margin-left: -1px
  margin-bottom: -1px
  color: white

.toggleOff
  display: flex
  align-items: center
  padding-left: 12px
  padding-right: 12px
