@use 'Variables'

.toggleButton
  display: flex
  flex-direction: row
  height: 48px
  border: Variables.$border-width solid Variables.$border-color
  border-radius: Variables.$border-radius
  cursor: pointer

.toggleOn
  display: flex
  align-items: center
  background-color: Variables.$main-color
  padding-left: 12px
  padding-right: 12px
  border: Variables.$border-width solid Variables.$main-color
  border-radius: Variables.$border-radius
  margin-top: -1px
  margin-left: -1px
  margin-bottom: -1px
  color: Variables.$secondary-color

.toggleOff
  display: flex
  align-items: center
  padding-left: 12px
  padding-right: 12px
