
$main-color: MAIN_COLOR
$main-color-15pct-transparency: adjust-color($main-color, $alpha: -0.85)
$main-color-10pct-transparency: adjust-color($main-color, $alpha: -0.90)
$main-color-20pct-transparency: adjust-color($main-color, $alpha: -0.80)

$secondary-color: SECONDARY_COLOR
$background-color: BACKGROUND_COLOR
$border-color: BORDER_COLOR
$text-color-dark: TEXT_COLOR_DARK
$text-color-light: TEXT_COLOR_LIGHT
$border-width: BORDER_WIDTH
$border-radius: BORDER_RADIUS
